@page "/"

<h1>Calculadora</h1>

<p> </p>

<h4>Primer Número</h4>
<input type="text" name = "primerNumeroText" value=@primerNumero/>

<h4>Segundo Número</h4>
<input type="text" name = segundoNumeroText value=@segundoNumero/>

<p> </p>

<p>Suma: @resultadoSuma</p>
<p>Resta: @resultadoResta</p>
<p>Multiplicacion: @resultadoMultiplicacion</p>

<button class="btn btn-primary" @onclick="Calcular">Calcular</button>

@code {
    private int resultadoSuma = 0;
    private int resultadoResta = 0;
    private int resultadoMultiplicacion = 0;
    private string primerNumero = "10";
    private string segundoNumero ="2";

    private int Sumar()
    {
        int resultado = Int32.Parse(primerNumero) + Int32.Parse(segundoNumero);

        return resultado;
    }

    private int restar()
    {
        int resultado = Int32.Parse(primerNumero) - Int32.Parse(segundoNumero);

        return resultado;
    }

    private int multiplicar()
    {
        int resultado = Int32.Parse(primerNumero) * Int32.Parse(segundoNumero);

        return resultado;
    }

    private void Calcular()
    {
        resultadoSuma = Sumar();
        resultadoResta = restar();
        resultadoMultiplicacion = multiplicar();
    }
}
